/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import bootstrap
@import bootstrap-responsive
@import compass/css3

body
  padding-top: 60px

.dropdown
  .dropdown-toggle
    img
      margin-right: 5px
      margin-top: -3px
.form-inputs
  .date
    select
      width: 100px
    #user_birthdate_3i
      width: 50px
    #user_birthdate_1i
      width: 62px

.navbar-inner
  background-color: transparent
  @include background(image-url("noise.png"), linear-gradient(top, #3D4A5C, #232C37))
  min-height: 40px
  @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.45))

.navbar .nav > li > a
  color: #FFF

.navbar .brand
  width: 206px
  height: 30px
  position: absolute
  left: 50%
  margin-left: -103px
  margin-top: 5px
  padding: 0
  background: url('logo.png') no-repeat
  text-indent: -99999em

// CSS for retina
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2)
  .navbar .brand
    background-image: url('logo@2x.png')
    background-size: 206px

//Responsive
@media (max-width: 979px)
  body
    padding-top: 0
